name: test_Django
on: [pull_request, push]
jobs:
  usermap_project:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11.2'
          cache: 'pip'
      - run: sudo apt-get install binutils libproj-dev gdal-bin libsqlite3-mod-spatialite gdal-bin sqlite sqlite3
      - run: pip install flake8
      - run: pip install -r requirements.txt
      - run: python app/manage.py test app
      - run: flake8 . --exclude=migrations,venv,settings.py